html {
    scroll-behavior: smooth;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  * {
    background-color: black;
    box-sizing: border-box;
  }
  html{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header {
      background-color: black;
      position: sticky;
      top:0;
      z-index: 10;
  }
  .header img {
      padding: 20px 0px 20px 100px;
  }
  .nav {
      float: right;
      padding-top: 15px;
  }
  .nav li {
      display: inline;
  }
  .nav li a{
      text-decoration: none;
      color: #ffcb23;
      list-style: none;
      font-family: 'Cairo', sans-serif;
      font-size: 25px;
      margin-right: 90px;
  }
  .nav li a:hover{
      color: white;
  }
  #rent-now {
      background-color: transparent;
      border: 3px solid #ffcb23;
      color : #ffcb23;
      text-align: center;
      padding: 5px 20px;
  }
  #rent-now:hover{
      color: black;
      background-color: #ffcb23;
  }
.about-bg {
  max-width: 100%;
  height: 700px;
  opacity: 0.5;
}
.body {
  width: 900px;
  margin: auto;
  background-color: pink;
  position: absolute;
  top: 170px;
  left: 310px;
  z-index: 5;
  height: 500px;
}
.left {
  background-image: url("../images/website-about-bg.png");
  width: 450px;
  height: 500px;
  position: absolute;
  top: 0px;
}
.left h3 {
    font-family: 'Cairo', sans-serif;
    position: absolute;
    color: #ffcb23;
}
#Ziad-Ahmed {
  top: 130px;
  left: 40px;
}
#Ziad-Sherif {
  top: 130px;
  right: 40px;
}
#Ziad-Sameh {
  top: 290px;
  left: 180px;
}
#Remon-Magdy {
  top: 435px;
  left: 31px;
}
#Ziad-Hatem {
  top: 435px;
  right: 37px;
}
.rst {
  background-color: #ffcb23 ;
  width: 450px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 450px;
}
.rst h2{
  color: black;
  background-color: transparent;
  font-family: 'Bebas Neue';
  font-size: 100px;
  position: absolute;
  top: -40px;
  left: 30px;
}
#description {
  font-family: 'Alumni Sans', sans-serif;
  color: black;
  background-color: transparent;
  font-size : 30px;
  position: relative;
  top: 150px;
  left: 20px;
  white-space: pre-wrap;
}
#quote {
  font-family: 'Righteous', cursive;
  color: black;
  background-color: transparent;
  font-size : 40px;
  position: relative;
  top: 200px;
  left: 20px;
  white-space: pre-wrap;
}
footer{
  padding-top: 10px;
  width: 100%;
  background: black;
  font-family: 'Kanit', sans-serif;
}
footer a{
    text-decoration: none;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #ffcb23;
}
