* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;
  }
  html {
    scroll-behavior: smooth;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  .header {
    background-color: black;
    position: sticky;
    top:0;
    z-index: 10;
  }
  .header img {
      padding: 20px 0px 20px 100px;
  }
  .nav {
      float: right;
      padding-top: 15px;
  }
  .nav li {
      display: inline;
  }
  .nav li a{
      text-decoration: none;
      color: #ffcb23;
      list-style: none;
      font-family: 'Cairo', sans-serif;
      font-size: 25px;
      margin-right: 90px;
  }
  .nav li a:hover{
      color: white;
  }
  #rent-now {
      background-color: transparent;
      border: 3px solid #ffcb23;
      color : #ffcb23;
      text-align: center;
      padding: 5px 20px;
  }
  #rent-now:hover{
      color: black;
      background-color: #ffcb23;
  }
.first-section img{
    background-size: cover;
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.rent-section {
    position: absolute;
    top: 350px;
    left: 300px;
    background-color: transparent;
}
#brand-list {
    border-radius: 7px;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px 75px 7px 5px;
    margin-right: 20px;
    color: #4c4c4c;
    font-size: 14px;
    width: 250px;
}
#type-list {
    border-radius: 7px;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px 75px 7px 5px;
    margin-right: 20px;
    color: #4c4c4c;
    font-size: 14px;
    width: 250px;
}
#model-list {
    border-radius: 7px;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px 75px 7px 5px;
    margin-right: 20px;
    color: #4c4c4c;
    font-size: 14px;
    width: 250px;
}
#rent-box {
    background-color: transparent;
    border: 3px solid #ffcb23;
    color: #ffcb23;
    padding: 15px 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
#rent-box:hover{
    background-color: #ffcb23;
    border: 3px solid #ffcb23;
    color: black;
    padding: 15px 30px;
}
#rent-box:active{
    background-color: #c1971a;

}
#previous-image {
  position: absolute;
  top:370px;
  left: 0px;
  background-color: transparent;
  color: white;
  border-width: 0px;
  cursor: pointer;
}
#next-image {
  position: absolute;
  top:370px;
  right: 0px;
  background-color: transparent;
  color: white;
  border-width: 0px;
  cursor: pointer;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-between;
    max-width: 1519px;
    width: 100%;
}
.flex > div{
    background-color: black;
    width: 32%;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    -ms-flex-item-align: center;
    color: #ffcb23;
}
.flex > div img{
  border-radius: 30px;
  max-width: 450px;
  max-height: 300px;
}
.flex > div img:hover{
  border-radius: 30px;
  max-width: 465px;
  max-height: 310px;
}
.flex > div p{
  font-family: 'Cairo', sans-serif;
}
.second-section h2 {
  color: #ffcb23;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-size: 35px;
}
footer{
  padding-top: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: black;
  font-family: 'Kanit', sans-serif;
}
footer a{
    text-decoration: none;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: black;
  background: #ffcb23;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #ffcb23;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #ffcb23;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #ffcb23;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #ffcb23;
}
